{% extends "layout.html.twig" %}

{% from "PHPKTemplateBundle::import.html.twig" import phpk %}

{% block body %}



    {% block form_row %}

        {{ form_start(form) }}

        <div style="margin: 15px 0; ">

            {% if app.request.attributes.get('_route') == 'app_import_fichier_praticiens' %}

                <div style="float: left; margin-top: 5%; width: 200px;">

                    {{ form_label(form.file, 'Insérer le fichier des praticiens ".csv" :') }}

                </div>
                <div style="margin-top: 5%;">

                    {{ form_widget(form.file) }}

                </div>
                <div>

                    {{ form_row(form.saveAndAdd) }}

                </div>

            {% elseif app.request.attributes.get('_route') == 'app_import_fichier_commentaire' %}

                <h1> Ajouter le fichier des libellés du ciblage {{ libelleTheme }}</h1>

                <div style="float: left; margin-top: 5%; width: 200px;">

                    {{ form_label(form.file, 'Insérer le fichier des libellés '~libelleTheme ~ '.csv') }}

                </div>
                <div style="margin-top: 5%;">

                    {{ form_widget(form.file) }}

                </div>
                <div>

                    {{ form_row(form.saveAndAdd) }}

                </div>

            {% else %}

                <h1> Ajouter un fichier de ciblage</h1>

                <div style="float: left;margin-top: 5%; width: 200px;">

                    {{ form_label(form.file, 'nom du  fichier  :') }}

                </div>
                <div style="margin-top: 5%;">

                    {{ form_widget(form.filename) }}

                </div>
                <div style="float: left; margin-top: 5%; width: 200px;">

                    {{ form_label(form.file, 'Insérer le fichier ".csv" :') }}

                </div>
                <div style="margin-top: 5%;">

                    {{ form_widget(form.file) }}

                </div>
                <div>

                    {{ form_row(form.saveAndAdd) }}

                </div>

            {% endif %}

            {{ form_end(form) }}

        </div>



    {% endblock %}
    {% if app.request.attributes.get('_route') != 'app_import_fichier_commentaire' %}

        {{ phpk('bouton', {
            label: 'Retour',
            predefined:'etapesuivante',
            url: path('app_import_fichier_liste')

        }) }}

    {% endif %}
{% endblock %}


