{% extends " layout.html.twig" %}

{% from "PHPKTemplateBundle::import.html.twig" import phpk %}

{% block body %}



    {% if app.request.attributes.get('_route') ==   'app_textaccueil_ajouter' %}

        <h1 >Paramétrage de la page d'accueil

            {{ phpk('formulaire', {form: formText}) }}

        </h1>

    {% elseif app.request.attributes.get('_route') == 'app_admin_paramciblage' %}

        <fieldset>

            <h1>Paramétrage des thèmes ciblés

                {{ phpk('formulaire', {form: formCiblage}) }}

            </h1>

        </fieldset>


        {{ phpk('tableau',{ tableau: listeCiblageName }) }}

    {% elseif app.request.attributes.get('_route') == 'app_periode_ajouter' %}

        <fieldset id="tab-pos">

            <h1>Paramétrage de la période ciblée

                {{ phpk('formulaire', {form: formPeriode}) }}

            </h1>

        </fieldset>

        {% if listePeriodeName is defined %}

            {{ phpk('tableau',{ tableau: listePeriodeName }) }}

        {% endif %}


    {% else %}

        <div id="param_region">
        <div id="pos_tab_region">

            <h1> Paramétrage de la région </h1>

            {{ phpk('tableau',{ tableau: listeRegionName }) }}
        </div>
        <div id="pos_tab_dep_utaa">

            <h1 id="align-titre"> Liste des départements et UTAA concernés </h1>
            <div id="tab-regions" class="tab-box">
                <div class="tab-body" id="tab-region">

                    <table class="phpk_table">
                        <thead>
                        <tr>

                            <th scope="col" class="phpk_decorator_text"> Départements</th>
                            <th scope="col" class="phpk_decorator_text"> Utaas</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for regionEtUtaaActive in regionEtUtaaActives %}
                            <tr>
                                <td class="phpk_decorator_text">
                                    <div>{{ regionEtUtaaActive.libelle_dep }}</div>
                                </td>
                                <td class="phpk_decorator_text">
                                    <div>{{ regionEtUtaaActive.code_utaa }}</div>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        </div>

    {% endif %}

{% endblock %}

{% block javascripts %}

    <script type=" text/javascript">

        $('a').click(function () {
            return "<a href=''></a>";

        })


    </script>
{% endblock %}